.bottle-mate {
  text-align: center;
  padding: 25px 13px 10px 13px;
  img {
    max-width: 100%;
  }
}

.bottle-friends {
  text-align: center;
  padding: 25px 13px 15px 13px;
  img {
    // aspect-ratio: 9/16;
  }
}

.bottle-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

.bottle-info-friends {
  text-align: center;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  padding-top: 15px;
  color: white;
}

.bottle-size {
  text-align: left;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
