.button-discover-all {
  border: 2px solid black;
  border-radius: 40px;
  text-align: center;
  padding: 10px 30px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin: 125px 45px;
}

.button-discover-all a {
  text-decoration: none;
}

@media (min-width: 1000px) {
  .button-discover-all {
    margin: 125px 480px;
  }
}
