.l-header-title {
  color: white;
  font-size: 30px;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media (min-width: 1000px) {
  .l-header-title {
    font-size: 60px;
  }
}

@media (min-width: 1000px) {
  footer .l-header-title {
    font-size: 100px;
  }
}

.l-header-slogan {
  background: #ebe43e;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  color: black;
  padding: 20px 25px;
  text-align: center;
}

@media (min-width: 1000px) {
  .l-header-slogan {
    font-size: 60px;
    padding: 60px 140px;
  }
}

.l-header-burger-menu-bars {
  max-width: 25px;
}

@media (min-width: 1000px) {
  .l-header-burger-menu-bars {
    max-width: 40px;
  }
}

.l-friends {
  background-color: black;
  padding-bottom: 125px;
  margin-bottom: 45px;
}

.l-illustration {
  padding: 0;
}

.l-logo-info {
  padding: 135px 40px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.l-logo-info-text {
  padding: 15px;
  font-size: 12px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  img {
    margin-bottom: 5px;
  }
}

.l-footer-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.l-footer-social a {
  max-width: 15px;
  img {
    min-width: 15px;
  }
}

.l-footer-text {
  color: white;
  font-size: 11px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 35px;
}
