.l-header-title {
  color: white;
  font-size: 30px;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

@media (min-width: 1000px) {
  .l-header-title {
    font-size: 60px;
  }
}

@media (min-width: 1000px) {
  footer .l-header-title {
    font-size: 100px;
  }
}

.l-header-slogan {
  background: #ebe43e;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  color: black;
  padding: 20px 25px;
  text-align: center;
}

@media (min-width: 1000px) {
  .l-header-slogan {
    font-size: 60px;
    padding: 60px 140px;
  }
}

.l-header-burger-menu-bars {
  max-width: 25px;
}

@media (min-width: 1000px) {
  .l-header-burger-menu-bars {
    max-width: 40px;
  }
}

.l-friends {
  background-color: black;
  padding-bottom: 125px;
  margin-bottom: 45px;
}

.l-illustration {
  padding: 0;
}

.l-logo-info {
  padding: 135px 40px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 1000px) {
  .l-logo-info {
    gap: 30px;
  }
}

.l-logo-info-text {
  padding: 15px;
  font-size: 12px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  img {
    margin-bottom: 5px;
  }
}

.l-footer-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.l-footer-social a {
  max-width: 20px;
  img {
    min-width: 20px;
  }
}

.l-footer-text {
  color: white;
  font-size: 14px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 25px;
  margin-bottom: 5px;
}

@media (min-width: 1000px) {
  .l-footer-text {
    font-size: 30px;
  }

  .l-footer-social {
    padding-top: 15px;
    gap: 20px;
  }

  .l-footer-social a {
    max-width: 50px;
    img {
      min-width: 50px;
    }
  }
}

.burger-open {
  display: flex;
  color: white;
  position: absolute;
  flex-direction: row;
  gap: 35px;
  background-color: black;
  width: 100%;
  left: 0;
  top: 19vh;
  height: 81vh;
  padding: 0px 0px 0px 120px;
}

@media (max-width: 1000px) {
  .burger-open {
    display: flex;
    color: white;
    position: absolute;
    flex-direction: column;
    gap: 35px;
    background-color: black;
    width: 100%;
    left: 0;
    top: 11vh;
    height: 89vh;
    padding: 80px 35px;
    a {
      font-family: "roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 42px;
      text-decoration: none;
      &:last-of-type {
        margin-top: 50px;
      }
    }
    &.nav-container {
      img {
        display: none;
      }
    }
  }
}
